In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\rhoda\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\rhoda\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\rhoda\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\rhoda\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [6]:
df = pd.read_excel(r"C:/Users/rhoda/Desktop/Log.xlsx",sheet_name='LOG')

In [7]:
df.head()

,Admin,Ver.,Partial,Date,INT/US,Order Type,Order Qty
0,demon,Ver.05.17,NaN,2019-05-17 11:13:13,INT ORDERS,Bimake,1.0
1,demon,Ver.05.17,NaN,2019-05-17 13:03:09,US ORDERS,Selleck,17.0
2,demon,Ver.05.17,NaN,2019-05-17 15:23:36,US ORDERS,Selleck,39.0
3,demon,Ver.05.17,NaN,2019-05-17 15:30:52,INT ORDERS,Selleck,1.0
4,demon,Ver.05.17,NaN,2019-05-20 09:38:36,US ORDERS,Selleck,32.0

In [5]:
df.shape

(5388, 8)