In [1]:
# Object Oriented Programing in Python

In [2]:
x =1 
print(type("hello"))

<class 'str'>

In [3]:
print(type(x))

<class 'int'>

In [33]:
class Dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
    def get_name(self):
        return self.name
    
    def get_age(self):
        return self.age
    
    def add_one(self,x):
        return x + 1
    
    def bark(self):  
        print("bard")

In [34]:
d = Dog('Rhoda',30)

In [32]:
d.get_name()

'Rhoda'

In [35]:
d.get_age()

30

In [27]:
d.bark()

bard

In [28]:
print(type(d))

<class '__main__.Dog'>

In [23]:
d.add_one(5)

6

In [29]:
d2 =Dog("bill",34)

bill

In [53]:
class Employee:
    
    num_of_emps = 0
    raise_amt = 1.04
    
    def __init__(self,first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.'+ last +'@email.com'
        self.pay = pay
        
        Employee.num_of_emps += 1
    
    def fullname(self):
        return "{} {}".format(self.first,self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)
    
    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount

In [54]:
emp_1 = Employee('Corey','Schafer',50000)
emp_2 = Employee('Test','Employee',60000)

In [55]:
print(Employee.raise_amt)

AttributeError: type object 'Employee' has no attribute 'raise_amt'

In [44]:
print(emp_1.raise_amt)
print(emp_2.raise_amt)

1.04
1.04

In [46]:
Employee.set_raise_amt(1.05)
print(Employee.raise_amt)
print(emp_1.raise_amt)
print(emp_2.raise_amt)

1.05
1.04
1.04