In [1]:
print(min(4,6))

4

In [2]:
print(round(4.66666))

5

In [5]:
print(round(3.3))

3

In [6]:
from math import *

In [7]:
print(floor(3.7))

3

In [8]:
print(ceil(3.7))

4

In [9]:
print(sqrt(36))

6.0

In [12]:
name = input("Enter your name:" )
age = input("Enter your age:")
print("My name is "+name+"! You are "+age)

Enter your name:Rhoda
Enter your age:30
My name is Rhoda! You are 30

In [16]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))
result = num1 + num2

print(result)

Enter a number: 2.3
Enter another number: 5.9
8.2

In [17]:
color = input("Enter a color: ")
plural_noun = input("Enter a Plural_noun: ")
celebrity = input("Enter a celebrity: ")

print("Rose are {color}")
print("{plural_noun} are blue")
print("I love {celebrity}")

Enter a color: pink
Enter a Plural_noun: tabls
Enter a celebrity: Trump
Rose are {color}
{plural_noun} are blue
I love {celebrity}

### List

In [23]:
friends = ["Kevin","Katen","Jim","Oscar","Toby"]
print(friends)

['Kevin', 'Katen', 'Jim', 'Oscar', 'Toby']

In [19]:
friends[1]

'Katen'

In [20]:
for i in friends:
    print(i)

Kevin
Katen
Jim

In [21]:
friends[-1]

'Jim'

In [22]:
friends[1:]

['Katen', 'Jim']

In [24]:
friends[2:4]

['Jim', 'Oscar']

In [25]:
friends[1] = "Mike"

In [26]:
friends

['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby']

### List Functions

In [27]:
lucky_numbers = [4,8,15,23,42]

In [28]:
print(lucky_numbers)

[4, 8, 15, 23, 42]

In [29]:
friends.extend(lucky_numbers)

In [30]:
friends

['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 23, 42]

In [32]:
friends.append("Abby")

In [33]:
friends

['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 23, 42, 'Abby']

In [34]:
friends.insert(1,"Rhoda")

In [35]:
friends

['Kevin', 'Rhoda', 'Mike', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 23, 42, 'Abby']

In [36]:
friends.remove(4)

In [37]:
friends

['Kevin', 'Rhoda', 'Mike', 'Jim', 'Oscar', 'Toby', 8, 15, 23, 42, 'Abby']

In [38]:
friends.clear()

In [39]:
friends

[]

In [40]:
friends = ['Kevin', 'Rhoda', 'Mike', 'Jim', 'Oscar', 'Toby', 8, 15, 23, 42, 'Abby']

In [41]:
friends.pop()

'Abby'

In [42]:
friends.index("Kevin")

0

In [44]:
friends.index("paul")

ValueError: 'paul' is not in list

In [45]:
friends.count("Jim")

1

In [47]:
friends = ['Kevin', 'Rhoda', 'Mike', 'Jim', 'Oscar', 'Toby', 'Abby']

In [48]:
friends.sort()

In [49]:
friends

['Abby', 'Jim', 'Kevin', 'Mike', 'Oscar', 'Rhoda', 'Toby']

In [50]:
lucky_numbers.sort()

In [51]:
lucky_numbers

[4, 8, 15, 23, 42]

In [52]:
lucky_numbers.reverse()

In [53]:
lucky_numbers

[42, 23, 15, 8, 4]

In [54]:
friends2 = friends.copy()

In [55]:
friends2

['Abby', 'Jim', 'Kevin', 'Mike', 'Oscar', 'Rhoda', 'Toby']

### Tuple

In [56]:
coordinates = (4,5)

In [57]:
coordinates

(4, 5)

In [58]:
type(coordinates)

tuple

In [60]:
coordinates[0]

4

In [61]:
2 ^ 3

1

In [66]:
def cube(num):
    return num*num*num

In [67]:
print(cube(3))

27

In [68]:
cube(4)

64

In [69]:
cube(5)

125

In [70]:
result = cube(6)

In [71]:
print(result)

216

### If statement

In [72]:
is_male = True

In [74]:
if is_male:
    print("You are a male")
else:
    print("You are not a male")

You are a male

In [75]:
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You neither male or tall")

You are a male or tall or both

### Boleen

In [76]:
def max_num(num1,num2,num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2>= num1 and num2 >= num3:
        return num2
    else:
        return num3

In [77]:
max_num(3,8,1)

8

### Build a calculate

In [78]:
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
    print(num1 + num2)
elif op == "-":
    print(num1-num2)
elif op =="/":
    print(num1/num2)
elif op == "*":
    print(num1*num2)
else:
    print("Invalid operator")

Enter first number: 5
Enter operator: +
Enter second number: 6
11.0

### Dictionary

In [79]:
monthConversion = {"Jan":"January","Feb":"February","Mar":"March","Apr":"April"}

In [80]:
monthConversion.keys()

dict_keys(['Jan', 'Feb', 'Mar', 'Apr'])

In [81]:
monthConversion.values()

dict_values(['January', 'February', 'March', 'April'])

In [83]:
print(monthConversion.get("May"))

None

### While

In [86]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
secrect_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guess = False

while guess != secrect_word and not(out_of_guess):
    if guess_count < guess_limit:
        guess = input("Enter guess: ")  
        guess_count += 1
    else:
        out_of_guess = True

if out_of_guess:
    print("Out of Guess, YOU LOSE!")
else:
    print("You win!")

Enter guess: 1
Enter guess: 2
Enter guess: giraffe
You win!

### For loop

In [4]:
for letter in "Giraffe Academy":
    print(letter)

G
i
r
a
f
f
e

A
c
a
d
e
m
y

In [6]:
friends = ["Jim",'Jane',"Kenvin"]
for friend in friends:
    print(friend)

Jim
Jane
Kenvin

In [7]:
for i in range(10):
    print("I love you")

I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you

In [8]:
for i in range(3,10):
    print(i*i)

9
16
25
36
49
64
81

In [9]:
for i in range(len(friends)):
    print(friends[i])

Jim
Jane
Kenvin

In [11]:
for i in range(5):
    if i == 0:
        print("first index")

first index

### Exponential Function

In [15]:
def raise_to_power(base_num, pow_num):
    result = 1
    for index in range(pow_num):
        result = result * base_num
    return result

In [16]:
raise_to_power(3,4)

81

### 2D list

In [17]:
num_grid = [
    [1,2,3],[4,5,6],[7,8,9],
    [0]
]

In [18]:
print(num_grid[0][0])

1

In [19]:
print(num_grid[1][2])

6

### Nested for loop

In [21]:
for row in num_grid:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]

In [23]:
for row in num_grid:
    for column in row:
        print(column)

1
2
3
4
5
6
7
8
9
0

### Build a translator

In [26]:
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation = translation + 'G'
            else: 
                translation = translation + 'g'
        else:
            translation = translation + letter 
    return translation

In [27]:
print(translate(input("Enter a phrase")))

Enter a phraseI love you!
G lgvg ygg!